<style type="text/css">
  .img-with-text {
    text-align: center;
    /*float: left;*/
    display: inline-block;
  }
</style>

<div class="img-with-text">
  <a href="./candid/index.html">
  <img src="candid/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p font-family="verdana">
    <a href="./candid.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./kong/index.html">
    <img src="kong/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./kong.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./modern/index.html">
    <img src="modern/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./modern.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./purpleYellow/index.html">
      <img src="purpleYellow/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
      <p>
        <a href="./purpleYellow.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./fierce/index.html">
    <img src="fierce/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./fierce.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./ceevee/index.html">
    <img src="Images/Ceevee.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./ceevee.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./bright/index.html">
    <img src="bright/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./bright.zip" target="_blank">Download Template</a>
  </p>
</div>


<div class="img-with-text">
  <a href="./veryBlue/index.html">
      <img src="veryBlue/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
      <p>
        <a href="./veryBlue.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./elegant/index.html">
      <img src="elegant/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
      <p>
        <a href="./elegant.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./classyResume/index.html">
      <img src="classyResume/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
      <p>
        <a href="./classyResume.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./tessellate/index.html">
      <img src="tessellate/websiteImage.png" alt="HTML tutorial" style="width:600px;height:340px;border:0;">
      <p>
        <a href="./tessellate.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./ethereal/index.html">
      <img src="ethereal/websiteImage.png" alt="HTML tutorial" style="width:600px;height:340px;border:0;">
      <p>
        <a href="./ethereal.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./lens/index.html">
    <img src="lens/websiteImage.png" alt="HTML tutorial" style="width:600px;height:340px;border:0;">
  </a>
  <p>
    <a href="./lens.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./multiverse/index.html">
      <img src="multiverse/websiteImage.png" alt="HTML tutorial" style="width:600px;height:340px;border:0;">
      <p>
        <a href="./multiverse.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./astral/index.html">
    <img src="astral/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./astral.zip" target="_blank">Download Template</a>
  </p>
</div>




<div class="img-with-text">
  <a href="./TS/index.html">
    <img src="Images/TS.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./TS.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./starnight/index.html">
    <img src="Images/Starnight.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./starnight.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./video/index.html">
    <img src="video/websiteImage.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./video.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./CV/index.html">
    <img src="Images/CV.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./CV.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./developer/index.html">
    <img src="Images/Developer.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./developer.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./mini-portfolio/index.html">
      <img src="Images/MiniPortfolio.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
      <p>
        <a href="./mini.zip" target="_blank">Download Template</a>
      </p>
    </div>
</a>

<div class="img-with-text">
  <a href="./stanley/theme/index.html">
    <img src="Images/Stanley.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./stanley.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./minimax/index.html">
    <img src="Images/Minimax.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./minimax.zip" target="_blank">Download Template</a>
  </p>
</div>

<div class="img-with-text">
  <a href="./WellRoundedTemplate/Theme/index.html">
    <img src="Images/WellRounded.png" alt="HTML tutorial" style="width:600px;height:420px;border:0;">
  </a>
  <p>
    <a href="./WellRoundedTemplate.zip" target="_blank">Download Template</a>
  </p>
</div>